@import './styles/base.scss';

:root {
  --primary-color:rgb(12, 12, 241);
  --fg-color: white;
  --duration:1s;
  --easing: cubic-bezier(0.5,0,0.5,1);

}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
  // background-color: var(--primary-color);
  // color:var(--fg-color, white);

}

a {
  color: blue;
}

h1 {
  margin: 0;
  color: var(--primary-color);
  transition: all 0.3s;

  &:hover{
    font-size: 5vw;
  }
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.container{
  --primary-color: red;
}

.ball {
  --primary-color:rgb(37, 212, 37);
  height: 10vmin;
  width: 10vmin;
  left: 50vw;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  
  background-color: #fb2324;
/* REMOVE TRANSITIONS */

  // animation: move-right 1s both;

  --duration:1s;
  --stagger: 0.5s;
  --interval: calc(var(--duration) - var(--stagger));
  animation: move-right var(--duration) calc(var(--interval) * var(--i))  both;

/*   &:nth-child(2){
    animation-delay:calc(var(--duration) - var(--stagger));
  }

   &:nth-child(3){
    animation-delay:calc(var(--duration) * 2 - var(--stagger) * 2)
  } */

}


@keyframes move-right {
  from {
    transform:none;
  }
  to{
    transform:translateX(25vw);
  }
}