@import './styles/base.scss';

:root {
  --primary-color:rgb(12, 12, 241);
  --fg-color: white;
  --duration:1s;
  --easing: cubic-bezier(0.5,0,0.5,1);

}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
  // background-color: var(--primary-color);
  // color:var(--fg-color, white);

}

a {
  color: blue;
}

h1 {
  margin: 0;
  color: var(--primary-color);
  transition: all 0.3s;

  &:hover{
    font-size: 5vw;
  }
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.container{
  --primary-color: red;
}

.ball {
  --primary-color:rgb(37, 212, 37);
  height: 10vmin;
  width: 10vmin;
  left: 50vw;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  
  background-color: #fb2324;
  // transition-property:background;
  // transition-property:all;
  // transition-property:transform;

  /* transition-property:background,transform;
  transition-timing-function: linear, ease-in-out;
  transition-duration: 0.5s; */

  transition:all 2s 0.5 ease-in-out;
  transition-property:background,transform;
  //property duration delay
  
  &:hover{
    /* transition-delay:0.5s;
    transition-duration: 1s, 3s; */
    padding:3rem;
    background:blue;
    transform: scale(2);
  }

}

