@import './styles/base.scss';

:root {
  --primary-color:rgb(12, 12, 241);
  --fg-color: white;
  --duration:1s;
  --easing: cubic-bezier(0.5,0,0.5,1);

}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
  // background-color: var(--primary-color);
  // color:var(--fg-color, white);

}

a {
  color: blue;
}

h1 {
  margin: 0;
  color: var(--primary-color);
  transition: all 0.3s;

  &:hover{
    font-size: 5vw;
  }
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.container{
  --primary-color: red;
}

.ball {
  --primary-color:rgb(37, 212, 37);
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  // background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
    background-color: var(--primary-color);

 /* --- */
 animation: slide-right var(--duration) var(--easing) infinite;

 &:before{
  --primary-color: orange;
  content:'';
  position: absolute;
  height:100%;
  width: 100%;
  left:0;
  top:0;
  background-color: var(--primary-color);

 }
}

@keyframes slide-right {
  from {
    transform: translateX(0)
  }
  to{
    transform: translateX(50vw)
  }
}
